<!DOCTYPE html>
<html>

<head>
  <style type='text/css'>
    div.page {
      border: solid 1px;
      width: 500px;
      min-height: 300px;
      padding: 0px;
    }

    div.right {
      border: none;
      display: flex;
      margin: auto;
      margin-bottom: 100px;
      width: 1050px;
    }

    pre.prettyprint {
      font-size: large;
      width: 500px;
      margin: 0px;
      margin-left: 50px;
    }

    .prettyprint ol.linenums > li { list-style-type: decimal; }

    h1, h2 {
      text-align: center;
    }

    div#beforewords {
      width: 800px;
      margin: auto;
      margin-bottom: 100px;
    }
  </style>
</head>

<body>
  <h1>Canvasを使わずに線を引く</h1>

  <div id='beforewords'>
    <p>
      HTML上でお絵かきしたいときは、<a href='https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API'>Canvas</a>を使うのが普通。
    </p>

    <p>
      しかしCanvasの中にはDOM要素が置けない。線とtextareaを組合せたいときとかはCanvasは使えない。
    </p>

    <p>
      <b>DOMで線を引く技術</b>が必要。
    </p>

    <p>
      道具立て
      <ul>
        <li>位置指定可能要素(position: relative, absolute)</li>
        <li>三平方の定理</li>
        <li>三角関数</li>
      </ul>
    </p>
  </div>

  <% @pages.each do |page| %>
    <h2><%= page.title %></h2>
    <div class='right'>
      <div class='page'>
        <%= page.html %>
      </div>
      <pre class="prettyprint linenums:1">
<%= ERB::Util.h(page.html) %>
      </pre>
    </div>
  <% end %>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</body>

</html>